* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.header {

	width: 100%;
	height: 33vh;
	background-image: url('ggbSunset.jpg');
	background-size: cover;
	background-position: center;
	background-color: grey;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	color: white;
	font-size: 300%;

}

.miniHead {
	width: 100%;
	height: 15%;
	background-image: url('ggbSunset.jpg');
	background-size: cover;
	background-position: center;
	background-color: grey;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	position: relative;
}

.main {
	width: 100%;
	height: 67vh;
	background-color: grey;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;
}

.sections {
	display: inline-block;
	background-color: grey;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;

}

#homeLeft {
	width: 33%;
	height: 100%;
	overflow: auto;

}

#homeRight {
	width: 67%;
	height: 100%;
	background-image: url('homeless.jpg');
	background-size: cover;
	background-position: center;

}

.pageLink {
	background-color: #c0362c;
	margin: 0px;
	padding: 5px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	width: 100%;
	height: 50%;
	color: white;
	overflow: auto;
	position: relative;
	text-align: center;

}

#causesLeft {
	width: 33%;
	height: 100%;
	background-color: #c0362c;
	overflow: auto;
}

#causesRight {
	width: 67%;
	height: 100%;
	overflow: auto;
}

#resourcesLeft {
	width: 33%;
	height: 100%;
	background-color: #c0362c;
	overflow: auto;
}

#resourcesRight {
	width: 67%;
	height: 100%;
	overflow: auto;
}

.examples {
	display: block;
	width: 100%;
	height: auto;
	background-color: #c0362c;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	position: relative;
	color: white;
	font-size: 20px;
	padding: 5px;
	text-align: left;
}

.resources {
	display: block;
	width: 100%;
	height: 33%;
	background-color: #c0362c;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	position: relative;
	color: white;
	font-size: 20px;
	padding: 5px;
	text-align: left;
}

.exampleImage {
	display: block;
	width: 100%;
#	height: auto;
	background-size: cover;
	background-position: center;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-width:2px;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease;
	background-color: #c0362c;
}

.sections:hover, .examples:hover .overlay {
	visibility: visible;
	opacity: 1;
}

.overlayHome {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	border-width:2px;
	visibility: hidden;
	opacity: 0;
	transition: .5s ease;
	background-color: #c0362c;
}

.miniHead:hover .overlayHome {
	visibility: visible;
	opacity: 0.5;

}

.exampleText {
	color: white;
	font-size: 20px;
	position: absolute;
	padding: 5px;
	text-align: left;
}

#cause1 {
	background-image: url('housingCrisis.jpeg');
	background-size: cover;
	background-position: center;
}

#resource1 {
	background-image: url('ggbSunset.jpg');
	background-size: cover;
	background-position: center;
}

.pageDescription {
	display: block;
	width: 100%;
	height: 85%;
	background-color: #c0362c;
	margin: 0px;
	padding: 0px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	position: relative;
	color: white;
	font-size: 20px;
	padding: 5px;
	text-align: left;
}

.link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }